body{
  background-color: orange;
  color: blue;
}
h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}
h2{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
